offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/config_sentence_transformers.json
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/config.json
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/model.safetensors
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/modules.json
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/README.md
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/sentence_bert_config.json
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/special_tokens_map.json
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/tokenizer_config.json
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/tokenizer.json
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/unigram.json
offline_models/embeddings/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2/1_Pooling/config.json
offline_models/llm/meta-llama--Llama-3.2-3B-Instruct/chat_template.jinja
offline_models/llm/meta-llama--Llama-3.2-3B-Instruct/config.json
offline_models/llm/meta-llama--Llama-3.2-3B-Instruct/generation_config.json
offline_models/llm/meta-llama--Llama-3.2-3B-Instruct/model-00001-of-00002.safetensors
offline_models/llm/meta-llama--Llama-3.2-3B-Instruct/model-00002-of-00002.safetensors
offline_models/llm/meta-llama--Llama-3.2-3B-Instruct/model.safetensors.index.json
offline_models/llm/meta-llama--Llama-3.2-3B-Instruct/special_tokens_map.json
offline_models/llm/meta-llama--Llama-3.2-3B-Instruct/tokenizer_config.json
offline_models/llm/meta-llama--Llama-3.2-3B-Instruct/tokenizer.json
outputs/_healthy eating guide_ covering breakfast ideas, lunch options, dinner recipes, and snack suggestions.docx
outputs/windows basics.pptx
outputs/python basics.docx
data/app.db
