# Authentication & Database
passlib==1.7.4
redis==5.0.1
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
email-validator

# dependencies
fastapi
uvicorn[standard]
pydantic
python-multipart

transformers
accelerate
sentencepiece

langchain
langchain-community

torch
torchvision
torchaudio
sentence-transformers

huggingface-hub

python-dotenv
aiofiles

bitsandbytes
hf_xet

python-docx
python-pptx